:root {
    --body-margin: 0px;
    --total-width: 500px;
    --body-width: calc(var(--body-margin) + var(--total-width));
    --thumbnail-width: 60px;
    --thumbnail-height: 40px;
    --favicon-with-height: 20px;
    --toggle-button-width: 30px;
    --close-button-width: var(--toggle-button-width);
    --row-height: 60px;
    --tab-name-padding-right: 10px;
    --images-bottom-padding: -10px;
    --li-padding: 10px;
    --border-width-left-container-element: 5px;
    --border-width-left-tab-element: 2px;
    --tab-name-width: calc(
            var(--total-width) - var(--thumbnail-width) - var(--close-button-width) - var(--tab-name-padding-right) - 2 *
            var(--li-padding) - var(--border-width-left-container-element) + var(--border-width-left-tab-element)
    );
    --search-box-width: calc(var(--total-width) - var(--border-width-left-tab-element));
    --search-box-height: var(--row-height);
}

/* Remove the blue focus border */
:focus {
    outline: none !important;
}

* {
    scrollbar-width: none
}

body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
    margin: 0 var(--body-margin);
    width: var(--body-width);
}

.no-match {
    display: none;
}

.collapsed ul {
    display: none;
}

input[type='text'] {
    width: var(--search-box-width);
    height: var(--search-box-height);
    font-size: calc(var(--search-box-height) / 2);
    padding: 0;
    border: 0;
}

input[type='radio'] {
    display: none;
}

input[type='text'] {
    margin: 4px;
}

input[type='text']:focus, input[type='text']:focus-visible {
    outline: none;
}

.container-color-gold {
    border-left-color: #daa520;
}

.container-color-black {
    border-left-color: #000000;
}

.container-color-blue {
    border-left-color: #37adff;
}

.container-color-turquoise {
    border-left-color: #00c79a;
}

.container-color-green {
    border-left-color: #51cd00;
}

.container-color-yellow {
    border-left-color: #ffcb00;
}

.container-color-orange {
    border-left-color: #ff9f00;
}

.container-color-red {
    border-left-color: #ff613d;
}

.container-color-pink {
    border-left-color: #ff4bda;
}

.container-color-purple {
    border-left-color: #af51f5;
}

body,
ol {
    font-family: Helvetica, sans-serif;
    padding: 0px;
}

label {
    display: grid;
    align-content: center;
}

ol,
ul {
    width: var(--total-width);
    margin-top: 0px;
}

ol > li {
    display: grid;
    grid-template-columns: [start] var(--toggle-button-width) [container-name] auto [end];
}

ol > li.empty .tabs-visibility::before {
    content: '\025b6';
    font-size: smaller;
    color: gray;
}

ol > li.collapsed .tabs-visibility::before {
    content: '\025b6';
    font-size: smaller;
}

ol > li .tabs-visibility::before {
    content: '\025bc';
}

/* container element */
ol > li .tabs-visibility {
    display: grid;
    border-left-width: var(--border-width-left-container-element);
    border-left-style: solid;
    border-left-color: inherit; /* this is necessary */
    justify-content: center;
}

ol > li > ul {
    padding: 0;
    border-left-color: inherit; /* this is necessary */
}

/* tab element */
ol > li > ul > li {
    display: grid;
    grid-template-columns: [start] auto [closetab] var(--close-button-width) [end];
    border-left-width: var(--border-width-left-tab-element);
    border-left-style: solid;
    border-left-color: inherit; /* this is necessary */
    height: var(--row-height);
}

.closed {
    opacity: 0.2;
}

ul > li .close {
    justify-content: center;
    display: none;
}

ul > li:hover .close {
    justify-content: center;
    display: inherit;
}

ul > li:hover .close:hover {
    justify-content: center;
    display: inherit;
    background-color: black;
    color: white;
}

em {
    text-decoration: solid underline purple 2px;
    font-style: normal;
}

em.match-1 {
    text-decoration-color: #37adff;
}

em.match-2 {
    text-decoration-color: #51cd00;
}

em.match-3 {
    text-decoration-color: #ff613d;
}

em.match-4 {
    text-decoration-color: fuchsia;
}

em.match-5 {
    text-decoration-color: darkorange;
}

.tab-center {
    display: grid;
    grid-template-columns: [faviconthumbnail] var(--thumbnail-width) [titleurl] auto;
    padding: var(--li-padding);
}

.tab-center > div.tab-names {
    align-self: center;
    overflow: hidden;
}


.tab-center > div.tab-names h3, .tab-center > div.tab-names h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.images {
    position: relative;
}

.images img {
    position: absolute;
    bottom: var(--images-bottom-padding);
}

.favicon {
    width: var(--favicon-with-height);
    height: var(--favicon-with-height);
    z-index: 1;
}

.favicon-only {
    height: var(--thumbnail-height) !important;
    width: var(--thumbnail-height) !important;
    z-index: 1;
}

.images img.favicon-only + img {
    display: none;
}

.thumbnail {
    background-color: lightblue;
    width: var(--thumbnail-width);
    height: var(--thumbnail-height);
    z-index: 0;
}

h2,
h3,
h4 {
    margin: 0px;
}

h2 {
    font-size: 12px;
    font-weight: 100;
    display: grid;
    height: var(--row-height);
    align-content: center;
    padding-right: var(--tab-name-padding-right);
    padding-left: var(--tab-name-padding-right);
}

h3 {
    font-size: 12px;
    font-weight: 100;
    padding-left: var(--tab-name-padding-right);
}

h4 {
    font-size: 10px;
    height: 1em;
    color: gray;
    font-weight: 100;
    width: var(--tab-name-width);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: var(--tab-name-padding-right);
}

/* highlight container element on hover / focus */

ul > li:focus,
ul > li:hover,
ol > li:focus > label,
ol > li:hover > label:hover {
    background-color: #f0f0f0;
}
