.blue-marker { border-left-color: rgb(55, 173, 255) !important; }
.turquoise-marker { border-left-color: rgb(0, 199, 154) !important; }
.green -marker { border-left-color: rgb(81, 205, 0) !important; }
.yellow-marker { border-left-color: rgb(255, 203, 0) !important; }
.orange -marker { border-left-color: rgb(255, 159, 0) !important; }
.red-marker { border-left-color: rgb(255, 97, 61) !important; }
.pink-marker { border-left-color: rgb(255, 75, 218) !important; }
.purple-marker { border-left-color: rgb(175, 81, 245) !important; }
.default-marker { border-left-color: rgb(0, 0, 0) !important; }
.private-marker { border-left-color: rgb(141, 32, 174) !important; }