@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-w-[512px] max-w-lg p-4 pt-2 box-border bg-white dark:bg-gray-800 dark:text-white;
  font-family: Calibri, sans-serif;
}

html,
body,
form,
.containers-wrapper {
  scrollbar-width: thin;
  overflow-x: hidden;
}

.containers-wrapper {
  @apply flex flex-col gap-4;
}

h1 {
  @apply text-2xl mb-1;
}

.container-name h2 {
  @apply font-bold;
}

.tab-names h3 {
  @apply underline;
}

#form-head {
  @apply flex items-center gap-4 my-4;
}

#search-wrapper {
  @apply flex-grow flex gap-4 items-center rounded-lg bg-gray-100 dark:bg-gray-700 p-3 w-full dark:text-white outline-none;
}

#search-wrapper label {
  content: url('./search.svg');
  @apply w-6 h-6 filter dark:invert cursor-pointer transform rotate-90;
}

#search {
  @apply appearance-none bg-[transparent] text-black dark:text-white outline-none w-full h-full;
}

#add-container {
  @apply min-w-[3rem] min-h-[3rem] bg-gray-100 dark:bg-gray-700 flex justify-center items-center rounded-lg cursor-pointer;
}

#add-container img {
  @apply filter dark:invert;
}

input[type='radio'] {
  @apply hidden;
}

.container-name {
  @apply flex-grow cursor-pointer;
}

.container-color {
  @apply w-5 h-5 rounded-full row-start-1;
}

.container-color-gold {
  background-color: goldenrod;
}

.container-color-black {
  background-color: black;
}

.container-color-blue {
  background-color: #37adff;
}

.container-color-turquoise {
  background-color: #00c79a;
}

.container-color-green {
  background-color: #51cd00;
}

.container-color-yellow {
  background-color: #ffcb00;
}

.container-color-orange {
  background-color: #ff9f00;
}

.container-color-red {
  background-color: #ff613d;
}

.container-color-pink {
  background-color: #ff4bda;
}

.container-color-purple {
  background-color: #af51f5;
}

.container-elem {
  @apply overflow-hidden flex flex-col gap-4 pb-4 rounded-lg;
}

.container-elem,
.container-tab {
  @apply bg-gray-100 dark:bg-gray-700;
}

.container-elem:focus .container-elem-head {
  @apply bg-gray-200 dark:bg-gray-600 outline-none;
}

.container-elem.collapsed,
.container-elem.empty,
.container-tab,
#add-container {
  @apply hover:bg-gray-200 dark:hover:bg-gray-600 focus:bg-gray-200 dark:focus:bg-gray-600 outline-none pb-0;
}

.container-elem-head {
  @apply flex gap-2 items-center py-2 px-4;
}

.tabs-visibility {
  @apply grid cursor-pointer w-6 h-6;
  grid-template-columns: auto auto 1fr;
}

.container-elem.collapsed > ul {
  @apply hidden;
}

.chevron {
  @apply transform filter dark:invert;
}

.container-elem .chevron {
  @apply rotate-90;
}

.container-elem.collapsed .chevron,
.container-elem.empty .chevron {
  @apply rotate-0;
}

.container-elem h2 {
  @apply text-lg mb-1;
}

/* Tab list */
.container-elem > ul {
  @apply px-4 box-border flex flex-col gap-2;
}

.close{
  @apply text-2xl box-content p-2 rounded-lg hover:bg-gray-200 dark:hover:bg-gray-500 flex justify-center items-center w-4 mr-[-0.5rem];
  line-height: 1rem;
}

.container-tab,
.tab-center,
.close {
  @apply cursor-pointer;
}

.container-tab {
  @apply rounded-md flex justify-between items-center py-2 px-3 box-border;
}

.tab-center {
  @apply flex w-full items-center gap-6;
}

.images {
  @apply relative w-8 min-w-[2rem] min-h-[2rem] h-8;
}

.images img {
  @apply absolute;
}

.images .favicon {
  @apply w-3 h-3 z-[1] rounded-full bg-white p-1 box-content top-[-0.75rem] left-[-0.75rem] hidden;
}

.images .thumbnail {
  @apply w-8 h-8 max-w-[32px] max-h-8 z-0;
}

.images .thumbnail[broken='true'] {
  @apply filter dark:invert;
}
