@import "colors.css";
@import "ordering.css";
@import "tab-item.css";
@import "container-item.css";

:root {
  --action-width: 30px;
  --height: 40px;
  --thumbnail-width: 60px;
  --hover-item-bg-color: rgb(232, 232, 232);
  --hover-button-bg-color: rgb(208, 208, 208);
}

/* variables */
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: smaller;
  font-weight: lighter;
}

div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

input[type=submit], input[type=radio] {
  display: none;
}

/* label (grid cells) styling */
form label {
  height: 100%;
  display: grid;
  align-items: center;
  cursor: pointer;
}