body, ul {
  margin: 0;
  padding: 0;
  font-family: Sans-Serif;
}

#pageaction h2 {
  width: 200px;
  padding: 0.5em 0 0 0;
  font-size: small;
  text-align: center !important;
}

#pageaction li.section {
  width: 200px;
}

#pageaction li.tab {
  width: 200px;
}

#browseraction span.bookmark-marker, span.close-button, #browseraction span.tabs-count {
  float: right;
}

span.close-button {
  padding: 3px;
  font-size: x-large;
  border-radius:5%;
  opacity: 0;
}

span.bookmark-marker {
  opacity: 0;
}

li.is-bookmark span.bookmark-marker {
  opacity: 1;
}

li.tab:hover span.close-button, li.tab:focus  span.close-button{
  background-color: rgb(208,208,208);
  opacity: 0.7;
}

.circle {
  border-radius:50%;
  min-width: 1em;
  min-height: 1em;
  margin-right: 1em;
  display: inline-block;
  float:left;
}

.circle-blue      { background-color: rgb(55,173,255); }
.circle-turquoise { background-color: rgb(0,199,154); }
.circle-green     { background-color: rgb(81,205,0); }
.circle-yellow    { background-color: rgb(255,203,0); }
.circle-orange    { background-color: rgb(255,159,0); }
.circle-red       { background-color: rgb(255,97,61); }
.circle-pink      { background-color: rgb(255,75,218); }
.circle-purple    { background-color: rgb(175,81,245); }
.circle-default   { background-color: rgb(0, 0, 0); }
.circle-history   { background-image: url('icons/clock.svg'); }
.circle-private   { background-image: url('icons/private-browsing.svg'); background-size: 1em 1em; }

form #search {
  background-color: rgb(252,252,252);
  border: 1px solid rgb(252,252,252);
  font-size: large;
  font-weight: lighter;
  padding-top: 10px;
  margin:10px 0px 0px 10px;
  width: 500px;
}

#history .tab h2, #history .tab ul li {
  width: 300px;
  margin-left: 3em;
  height: 0.5em;
}

li {
  font-size: smaller;
  font-weight: lighter;
  list-style-type: none;
  padding:10px;
  padding-bottom: 10px;
  width: 500px;
}

li.section div {
  width: 100%;
}

li.section {
  background-color: rgb(235,235,236);
  border-bottom: 1px solid rgb(208,208,208);
  height: 2em;
  display: flex;
  align-items: center;
}

li.section:hover, li.section:focus {
  background-color: rgb(220,220,222);
  cursor:pointer;
}

li.tab {
  background-color: rgb(252,252,252);
  border-bottom: 1px solid rgb(237,237,237);
}

li.tab:focus, li.tab:hover {
  background-color: rgb(232,232,232);
  cursor:pointer;
}

li.tab div {
  display: flex;
  align-items: center;
}

li.tab div.image {
  background-repeat: space !important;
  background-size: cover !important;
  height: 42px;
  text-align: center;
  vertical-align: middle;
  width: 56px;
  margin-right: 10px;
}

li.tab div.image img {
  width: 20px;
}

li.tab div.text {
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 400px;
  overflow: hidden;
  display:block;
}

li.tab div.text div {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 380px;
  display: block !important;
}

.image {
  align-items: end !important;
  border: 1px solid rgb(192,192,192);
}

.tab-url {
  color: rgb(152,152,152);
}

