body, ul {
  margin: 0;
  padding: 0;
  font-family: Sans-Serif;
  background-color: white;
  overflow-x: hidden
}

#pageaction h2 {
  width: 200px;
  padding: 0.5em 0 0 0;
  font-size: small;
  text-align: center !important;
}

#pageaction li {
  width: 200px;
}

#container-selector, #container-selector #main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pageaction span.tabs-count, #pageaction span.new-tab-button, #pageaction span.icon, #container-selector span.tabs-count, #container-selector span.new-tab-button, #container-selector span.icon, #bookmarks span.tabs-count, #bookmarks span.new-tab-button, #bookmarks li.tab span.icon, #history span.tabs-count, #history span.new-tab-button, #history li.tab span.icon, .private span.new-tab-button {
  display: none !important;
}

#bookmarks .tab h2, #bookmarks .tab ul li, #history .tab h2, #history .tab ul li {
  width: 400px;
  margin: 0 0 0 3em;
  height: 2.5em;
}

#bookmarks .tab h2, #history .tab h2 {
  margin: 1em 0 0 0;
}

.audible-true, #browseraction span.bookmark-marker, span.close-button {
  float: right;
}

.audible-undefined, .audible-false, li.tab:hover .audible-true {
  display: none;
}

span.close-button {
  padding: 3px;
  font-size: large;
  border-radius: 5%;
  display: none;
}

span.bookmark-marker {
  opacity: 0;
}

li.is-bookmark span.bookmark-marker {
  opacity: 1;
}

li.tab:hover span.close-button, li.tab:focus span.close-button {
  background-color: rgb(208, 208, 208);
  display: inherit;
  opacity: 0.7;
}

ul li {
  border-left: solid 5px rgb(235, 235, 236);
}

ul.blue li {
  border-left: solid 5px rgb(55, 173, 255);
}

ul.turquoise li {
  border-left: solid 5px rgb(0, 199, 154);
}

ul.green li {
  border-left: solid 5px rgb(81, 205, 0);
}

ul.yellow li {
  border-left: solid 5px rgb(255, 203, 0);
}

ul.orange li {
  border-left: solid 5px rgb(255, 159, 0);
}

ul.red li {
  border-left: solid 5px rgb(255, 97, 61);
}

ul.pink li {
  border-left: solid 5px rgb(255, 75, 218);
}

ul.purple li {
  border-left: solid 5px rgb(175, 81, 245);
}

ul.default li {
  border-left: solid 5px rgb(0, 0, 0);
}

ul.private li {
  border-left: solid 5px rgb(141, 32, 174);
}

ul li.tab {
  border-left-width: 1px;
}

.icon-history {
  min-width: 1em;
  min-height: 1em;
  margin: 0 0 0 1em;
  display: inline-block;
  background-image: url('icons/clock.svg');
  float: left;
}

.arrow-right, .arrow-down {
  width: 0;
  height: 0;
  display: inline-block;
  margin-right: 0.5em;
  margin: 0.5em;
}

.arrow-right {
  border-bottom: 0.5em solid transparent;
  border-left: 0.5em solid black;
  border-top: 0.5em solid transparent;
}

.arrow-down {
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  border-top: 0.5em solid black;
}

form #search {
  background-color: rgb(252, 252, 252);
  border: 1px solid rgb(252, 252, 252);
  font-size: large;
  font-weight: lighter;
  padding-top: 10px;
  margin: 10px 0px 0px 10px;
  width: 490px;
}

li {
  font-size: smaller;
  font-weight: lighter;
  list-style-type: none;
  width: 500px;
}

li.section {
  background-color: rgb(235, 235, 236);
  border-bottom: 1px solid rgb(208, 208, 208);
  height: 3.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  width: 495px;
}

li.section>span {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

li.section>span.icon {
  flex-basis: 2em;
  align-self: flex-start;
}

li.section>span:hover {
  background-color: red;
}

li.section>span.name {
  align-self: auto;
  justify-content: flex-start;
  flex-grow: 2;
  padding-left: 0.5em;
}

li.section>span.new-tab-button, li.section>span.tabs-count {
  flex-basis: 5em;
}

li.section:hover>span.tabs-count, li.section>span.new-tab-button {
  display: none;
}

li.section>span.tabs-count, li.section:hover>span.new-tab-button {
  display: inherit;
}

li.section>span:hover, li.section:focus {
  background-color: rgb(220, 220, 222);
  cursor: pointer;
}

li.tab {
  background-color: rgb(252, 252, 252);
  border-bottom: 1px solid rgb(237, 237, 237);
  padding: 10px;
  width: 480px;
}

li.tab:focus, li.tab:hover {
  background-color: rgb(232, 232, 232);
  cursor: pointer;
}

li.tab div {
  display: flex;
  align-items: center;
}

li.tab div.image {
  background-repeat: space !important;
  background-size: cover !important;
  height: 42px;
  text-align: center;
  vertical-align: middle;
  width: 56px;
  margin-right: 10px;
}

li.tab div.image img {
  width: 20px;
}

li.tab img.no-thumbnail {
  width: 20px;
  margin-right: 10px;
}

li.tab img.no-thumbnail+div.text {
  max-width: 436px;
}

li.tab img.no-thumbnail+div.text div {
  width: 416px;
}

li.tab img+div.text, li.tab span+div.text {
  max-width: 486px;
  height: 2.5em;
}

li.tab span+div.text div {
  width: 466px;
}

li.tab:hover span+div.text div {
  width: 436px;
}

li.tab div.text {
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 400px;
  overflow: hidden;
  display: block;
}

li.tab div.text div {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 380px;
  display: block !important;
}

.image {
  align-items: end !important;
  border: 1px solid rgb(192, 192, 192);
}

.tab-url {
  color: rgb(152, 152, 152);
}