container-item {
  display:grid;
}

form.container-item {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: var(--action-width) auto var(--action-width) var(--action-width);
  grid-template-areas: "expand focus new-tab close-container";
  height: var(--height);
  border-left: 5px solid;
  align-items: center;
  padding: 5px 20px 5px 5px;
}

.container-expander        { grid-area: expand; }
.container-collapser       { grid-area: expand; }
.container-focus           { grid-area: focus; }
.container-new-tab         { grid-area: new-tab; }
.container-close-container { grid-area: close-container; }
.container-tab-count       { grid-column-start: new-tab; grid-column-end: close-container; }

.container-expander, .container-collapser {
  place-content: center;
}

.container-tab-count,
    container-item:focus      .container-close-container,
    container-item:focus      .container-new-tab,
    form.container-item:hover .container-close-container,
    form.container-item:hover .container-new-tab {
  display: inherit;
}

.container-close-container,
    .container-collapser,
    .container-new-tab,
    container-item label.container-expander,
    container-item.collapsed label.container-collapser,
    container-item:focus .container-tab-count,
    form.container-item:hover .container-tab-count {
  display: none;
}

.container-close-container, .container-new-tab {
  font-size: x-large;
  width: 1em;
  height: 1em;
  font-size: x-large;
  place-content: center;
  place-self: center;
  border: 1px solid rgb(208, 208, 208);
  border-radius: 6px;
}

container-item.collapsed label.container-expander, container-item label.container-collapser {
  display: grid;
}

.container-new-tab {
  font-weight: lighter;
}

/* focus / hover styles */
container-item:focus form.container-item, form.container-item:hover {
  background-color: rgb(232, 232, 232);
}

.container-close-container:hover, .container-new-tab:hover,
    .container-expander:hover, .container-collapser:hover {
  background-color: rgb(208, 208, 208);
}

form.container-item:hover .container-expander, form.container-item:hover .container-collapser,
container-item:focus .container-expander, container-item:focus .container-collapser {
  border: 1px solid rgb(208, 208, 208);
  border-radius: 6px;
}