search-bar {
    display: grid;
    grid-gap: 5px;
    height: var(--height);
    padding: 10px 10px 10px 10px;
}

search-bar input[type=search] {
    width: 90%;
    height: 100%;
    font-size: x-large;
    font-weight: 100;
    border-width: 0px;
}

search-bar input[type=reset] {
    width: 10%;
    height: 100%;
    font-size: x-large;
    font-weight: 100;
    border-width: 0px;
    background-color: white;
}