form.tab-item {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: var(--thumbnail-width) auto;
    grid-template-areas: "thumbnail content";
    height: var(--height);
    border-left: 2px solid;
    border-bottom: 1px solid var(--hover-item-bg-color);
    align-items: center;
    padding: 10px 20px 10px 5px;
}

tab-item.active {
    /* todo: highlight if not lru order */
    /* border-right: 2px solid blue; */
}

tab-item em {
    font-style: normal;
    text-decoration: underline;
    text-decoration-style: wavy;
}

em.match-1 { text-decoration-color: rgb(255, 97, 61); }
em.match-2 { text-decoration-color: rgb(175, 81, 245); }
em.match-3 { text-decoration-color: rgb(255, 159, 0); }
em.match-4 { text-decoration-color: rgb(55, 173, 255); }
em.match-5 { text-decoration-color: rgb(0, 199, 154); }
em.match-6 { text-decoration-color: rgb(81, 205, 0); }
em.match-7 { text-decoration-color: rgb(255, 203, 0); }
em.match-8 { text-decoration-color: rgb(255, 75, 218); }
em.match-9 { text-decoration-color: rgb(0, 0, 0); }

tab-item:focus form.tab-item, form.tab-item:hover {
    background-color: var(--hover-item-bg-color);
    grid-template-columns: var(--thumbnail-width) auto var(--action-width);
    grid-template-areas: "thumbnail content close";
}

tab-item:focus img, form.tab-item:hover img {
    opacity: 0.5;
}

.tab-thumbnail {
    grid-area: thumbnail;
}

.tab-favicon {
    grid-area: thumbnail;
}

.tab-content {
    grid-area: content;
}

.tab-close {
    grid-area: close;
}

/* label contents */

.thumbnail-image {
    max-height: var(--height);
    max-width: var(--thumbnail-width);
    border: 1px solid var(--hover-item-bg-color);
}

.favicon-image {
    height: 15px;
    width: auto;
    align-self: end;
}

.tab-url {
    color: rgb(152, 152, 152);
}

.tab-close {
    display: none;
    width: 1em;
    height: 1em;
    font-size: x-large;
    place-content: center;
    place-self: center;
    border: 1px solid var(--hover-button-bg-color);
    border-radius: 6px;
}

/* even if container is collapsed: show tab items that match the current search */

container-item tab-item, container-item.collapsed tab-item.match {
    display: inherit;
}

container-item tab-item.no-match,
    container-item.search-collapsed tab-item.match,
    container-item.collapsed tab-item {
    display: none;
}

form.tab-item:hover .tab-close {
    display: inherit;
}

.tab-close:hover, .tab-close:focus {
    background-color: var(--hover-button-bg-color);
}
