form.tab-item {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: var(--thumbnail-width) auto;
    grid-template-areas: "thumbnail content";
    height: var(--height);
    border-left: 2px solid;
    align-items: center;
    padding: 5px 20px 5px 5px;
}

tab-item:focus form.tab-item, form.tab-item:hover {
    background-color: var(--hover-item-bg-color);
    grid-template-columns: var(--thumbnail-width) auto var(--action-width);
    grid-template-areas: "thumbnail content close";
}

tab-item:focus img, form.tab-item:hover img {
    opacity: 0.5;
}

.tab-thumbnail {
    grid-area: thumbnail;
}

.tab-favicon {
    grid-area: thumbnail;
}

.tab-content {
    grid-area: content;
}

.tab-close {
    grid-area: close;
}

/* label contents */

.thumbnail-image {
    height: var(--height);
    width: auto;
}

.favicon-image {
    height: 15px;
    width: auto;
    align-self: end;
}

.tab-url {
    color: rgb(152, 152, 152);
}

.tab-close {
    display: none;
    width: 1em;
    height: 1em;
    font-size: x-large;
    place-content: center;
    place-self: center;
    border: 1px solid var(--hover-button-bg-color);
    border-radius: 6px;
}

container-item.collapsed tab-item {
    display: none;
}

form.tab-item:hover .tab-close {
    display: inherit;
}

.tab-close:hover, .tab-close:focus {
    background-color: var(--hover-button-bg-color);
}